/* font-poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* shared style */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
 
}

.primary-btn {
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: 600;
  background: #e02c6d;
  color: white;
  border: 0;
}
.primary-btn:hover {
  cursor: pointer;
}

/* header style */
header {
  max-width: 1440px;
  margin: 0 auto;
  border: 2;
  color: #3a3a3a;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
nav > ul {
  display: flex;
  gap: 25px;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #3a3a3a;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a3a3a;
}

/* banner */

.banner {
  margin-top: 30px;
  margin-bottom: 50px;
  /* border: 2px solid rebeccapurple; */
}

.banner-container {
  display: flex;
  gap: 50px;
}

.banner-image {
  background: url("./images/Circle design.svg");
  height: 500px;
  width: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 2px solid rebeccapurple; */
}

/* .banner-img-bg{
  position: relative;
  z-index: 10;
}
.banner-img-1{
margin-top: -1000px;
z-index: 20;
} */

.banner-img-1 {
  width: 70%;
  margin: 70px;
  padding-top: 20px;
}

.banner-content {
  margin-top: 150px;
}

.banner-title {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.banner-description {
  font-size: 16px;
  font-weight: 600;
  width: 50%;
  margin-bottom: 1rem;
}

.banner-btn {
  border-radius: 40px;
}

/* main section  */
main {
  max-width: 1440px;
  margin: 0 auto;
  color: #3a3a3a;
}
/* brand Section */
#brand {
  width: 90%;
  margin: 50px auto;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.19) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  border: 2px;
}
#brand > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
}

#brand > ul > li {
  list-style: none;
}
.brand-img {
  width: 100%;
}

/* collection */
#collection {
  margin-top: 80px;
}
.collection-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 35px;
}

.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 10px auto;
}

.item {
  background: #3a3a3a0a;
  padding: 15px;
}

.item-img {
  width: 100%;
}

.item-title {
  font-size: 28px;
  font-weight: 500;
}

.item-price {
  font-size: 24px;
}

.item-rating,
.item-description {
  color: #5e6366;
  font-size: 14px;
  font-weight: 600;
}

footer{
  color: white;
  margin-top: 50px;
  background: #0A0826;
  text-align: center;
}

.footer-content{
  color: #FFFFFF;
  padding: 100px 0;
}

.Copyright{
  color: #D9DBE1;
  font-size: 14px;
  font-weight: 500;
}
.footer-title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* responsive style */
/* mobile */
@media screen and (max-width: 576px) {
  /* nav */
  nav {
    flex-direction: column;
    margin-top: 30px;
  }
  nav > ul {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }
  .nav-title {
    margin-bottom: 15px;
  }

  /* banner */
  .banner {
    margin-top: 0;
    border: 2px solid red;
  }
  .banner-container {
    margin-top: 0;
    gap: 0px;
    flex-direction: column-reverse;
  }
  .banner-content {
    margin-top: 10px;
    text-align: center;
  }
  .banner-image {
    /* background-image: none; */
    padding: 10px;
    width: 70%;
    height: auto;
    background-size: contain;
    margin: 0 auto;
    /* border: 2px solid rebeccapurple; */
  }
  .banner-img-1 {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .banner-title {
    font-size: 28px;
  }
  .banner-description {
    font-size: 14px;
    width: 90%;
    margin: 1rem auto;
  }

  /* brand */
  #brand > ul {
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 15px;
  }
}

/* tab */
@media screen and (min-width: 557px) and (max-width: 992px) {
  nav {
    padding: 0 20px;
  }
  .banner-container {
    margin-top: 0;
    gap: 0px;
    flex-direction: column-reverse;
  }
  .banner-image {
    /* background-image: none; */
    padding: 10px;
    width: 40%;
    height: auto;
    /* background-size: contain; */
    background-position: center;
    margin: 0 auto;
    /* border: 2px solid rebeccapurple; */
  }
  .banner-content {
    margin-top: 10px;
    text-align: center;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .banner-description {
    width: 80%;
    margin: 20px auto;
  }

  /* brand */
  #brand > ul {
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 20px;
  }
}
